<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.gaoh.dao.StudentDao">
	<select id="list" resultType="java.util.Map">select * from student</select>


	<insert id="insert" parameterType="org.mybatis.gaoh.model.StudentModel">
		insert student values (#{id},#{name},#{age},#{remark})

	</insert>

	<delete id="delete" parameterType="integer">
		delete from student  where 1=1
		<if test="id!=null">
			id=#{id}
		</if>
	</delete>
	<!--	INSERT INTO  `student`(`name`, `age`, `remark`) VALUES ('1', 2, '3') -->
</mapper>
